@import url('../../consts/colors.css');

.header {
    display: flex;
    background-color: var(--header-color);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    height: 4vh;
    z-index: 1000;
    top: 0;
    box-shadow: 0 .2rem .6rem #0005;
}
