@import url('../../consts/colors.css');

.step-2-container {
    flex: 1;
}

.sub-title-step2 {
    border-bottom: 1px solid var(--text-color);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sub-title-step2 h2 {
    font-size: 16px;
    color: var(--text-color);
    padding-left: 10px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    gap: 20px;
}
