@import url('../../consts/colors.css');

input {
    padding-left: 10px;
    outline: none;
    height: 50px;
}

#cliente {
    border-bottom: 1px solid var(--text-color);
    width: 100%;
}

#local-retirada {
    flex: 1;
}

#cliente .sub-title {
    border-bottom: 1px solid var(--text-color);
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#sub-title-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#cliente .sub-title h2, #sub-title-icon h2 {
    font-size: 16px;
    color: var(--text-color);
    padding-left: 10px;
}

#sub-title-icon i {
    font-size: 16px;
    color: var(--text-color);
}

#cliente .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

#cliente .input-container input {
    width: 30%;
}
