@import url('../../consts/colors.css');

:root {
    --min-form-width : 200px;
    --max-form-width : 600px;
    --min-form-height : 200px;
    --max-form-height : 600px;
    --form-width : 500px;
    --form-height : 500px;
}
.userSign {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--form-height);
}

.userSign form div {
    display: flex;
}

.userSign form {
    box-shadow: 2px 2px 7px rgb(182, 180, 180);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--sidebar-color);
    border-radius: 10px;
    width: 100%;
    height: 80%;
}

#middle-left {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 30px
}

#middle-right {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 0px;

}

#middle-right, #middle-left {
    width: 100%;
}

#top {
    width: calc(100% - 60px);
    margin: 0px 20px 0px 20px
}

#middle {
    width: 100%;
}

#top input {
    width: 100%;
}

form #top input {
    position: relative;
    margin-bottom: 10px;
    padding-left: 10px;
    outline: none;

}

#header-form, #button-container {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-container {
    width: 50%;
}





