@import url('../../consts/colors.css');

.titulo {
    color: rgba(151, 71, 255, 1);
    text-align: center;
    font-size: 4.5ch;
}

.login {
    background-color: rgba(228, 204, 255, 1);
    color: rgba(151, 71, 255, 1);
    width: 55%;
    padding: 15px;
    border-color: rgba(151, 71, 255, 1);
    border-width: 1px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.botao {
    background-color: rgba(228, 204, 255, 1);
    color: rgba(151, 71, 255, 1);
    padding: 15px;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 15px;
    border-width: 1px;
    font-weight: bold;
}

h3 {
    text-align: left;
    margin-left: 21.5%;
    color: rgba(151, 71, 255, 1);
}

.navigator {
    align-items: center;
    justify-content: center;
    display: flex;
}

.reserva-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 80%;
}

.reserva-form-container {
    background-color: var(--sidebar-color);
    height: 100%;
    width: 65%;
    border-radius: 5px;
}

.reserva-form-container form .input-container {
    display: flex;
    flex-direction: column;
}

.reserva-form-container #header-form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-table-color);
    border-radius: 5px 5px 0 0;
    height: 50px;
}

.reserva-form-container form {
    height: 100%;
}

.calendars-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 10px;
}

.calendar-single {
    border-radius: 5px;
    background-color: var(--header-table-color);
    padding: 5px;
}

#button-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-form {
    padding: 30px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.top-form .input-container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-form .input-container input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    border: 2px solid var(--text-color);
    outline: none;
}

.nav-bar {
    height: 50px;
}

.nav-bar ul {
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style: none;
    width: 100%;
    justify-content: space-between;
}

.nav-bar ul li {
    display: flex;
    flex: 1;
    border-bottom: 2px solid var(--text-color);
}

.nav-bar ul li:hover {
    border-bottom-color: var(--footer-color);
}

.nav-bar ul li a {
    display: flex;
    text-decoration: none;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.nav-bar ul li a:hover {
    color: var(--footer-color);
}
