.titulo {
    color: rgba(151, 71, 255, 1);
    text-align: center;
    font-size: 3.5ch;
}

.cadastro_2 {
    background-color: rgba(228, 204, 255, 1);
    color: rgba(151, 71, 255, 1);
    width: 35%;
    padding: 15px;
    border-color: rgba(151, 71, 255, 1);
    border-width: 1px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-left: 8.5%;
}

.botao{
    background-color: rgba(228, 204, 255, 1);
    color: rgba(151, 71, 255, 1);
    width: 25%;
    padding: 15px;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 15px;
    border-width: 1px;
    font-weight: bold;
}

.lado{
    text-align: center;
    display: flex;
}

.lado2{
    text-align: center;
    display: flex;
}
