.titulo {
    color: rgba(151, 71, 255, 1);
    text-align: center;
    font-size: 3.5ch;
}

.login {
    background-color: rgba(228, 204, 255, 1);
    color: rgba(151, 71, 255, 1);
    width: 35%;
    padding: 15px;
    border-color: rgba(151, 71, 255, 1);
    border-width: 1px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.loginPage {
    height: 100%;
}

.botao {
    background-color: rgba(228, 204, 255, 1);
    color: rgba(151, 71, 255, 1);
    width: 25%;
    padding: 15px;
    border-color: rgba(151, 71, 255, 1);
    border-radius: 15px;
    border-width: 1px;
    font-weight: bold;
}

.navigator {
    align-items: center;
    justify-content: center;
    display: flex;
}

.button-form {
    margin-top: 30px;
}

