:root {
    --background-color-light-mode: #E4E9F7;
    --footer-color : rgba(151, 71, 255, 1);
    --header-color : rgba(228, 204, 255, 1);
    --header-table-color : rgb(172, 134, 223);
    --sidebar-color : #FFF;
    --text-color: #707070;
    --toggle-color: #DDD;
    --primary-color-light: #F6F5FF;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    --tran-10: all 1.0s ease;
}
