@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("./src/consts/colors.css");

#root {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    background-color: var(--background-color-light-mode);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
}
